{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_humanize %}
{% block content %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" /> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
  * {
    font-family: "NotoSansLao";
  }
</style>

<!-- For bootstrap modal form -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="page-title mb-0 p-0">Manage Payments</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Manage Payments
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <!-- column -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">ຈັດການການຊຳລະເງິນ</h4>
          <!-- <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
          <hr>
          <div class="d-flex justify-content-between align-items-center mb-3">

            <!-- Search Form -->
            <form method="get" action="" class="d-inline-flex" style="width: 80%;">
              <div class="input-group">
                  <select class="custom-select" name="search_by">
                    <option value="payment_date" {% if search_by == 'payment_date' %}selected{% endif %}>Payment Date</option>
                  </select>
                  <input type="datetime-local" class="form-control" name="search" placeholder="Search" value="{{ search_query }}">
          
                  <div class="input-group-append">
                    <!-- <div class="input-group-text">
                    </div> -->
                    <button class="btn btn-outline-info" type="submit">
                      <i class="fas fa-search"></i> ຄົ້ນຫາ
                    </button>
                  </div>
              </div>
            </form>
          </div>

          <div class="table-responsive">
            <table class="table user-table no-wrap">
              <thead>
                <tr>
                  <th class="border-top-0">#</th>
                  <th class="border-top-0">ການຈອງ</th>
                  <th class="border-top-0">ຈຳນວນເງິນ</th>
                  <th class="border-top-0">ສະລິບການໂອນ</th>
                  <th class="border-top-0">ວັນທີ່ຊຳລະເງີນ</th>
                  <th class="border-top-0">ຈັດການ</th>
                </tr>
              </thead>
              <tbody>
                {% for payment in payments %}
                <tr>
                  <td>{{ payment.id }}</td>
                  <td>{{ payment.reservation }}</td>
                  <td>{{ payment.amount|intcomma }}</td>
                  <td>
                    {% if payment.payment_slip %}
                        <a href="{{ payment.payment_slip.url }}" target="_blank">
                          <img class="img-fluid img-thumbnail" src="{{ payment.payment_slip.url }}" alt="payment slip" width="50">
                        </a>
                      {% endif %}
                  </td>
                  <td>{{ payment.payment_date|format_lao_date }}</td>
                  <td>
                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#confirmDeleteModal-{{ payment.id }}">ລືບ</a>

                    <!-- Delete Confirmation Modal -->
                    <div class="modal fade my-modal" id="confirmDeleteModal-{{ payment.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel">ຢືນຢັນການລືບ</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <form action="{#% url 'delete-payment' payment.id %#}" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                              ທ່ານຕ້ອງການລືບການຊຳລະເງີນນີ້ແທ້ບໍ?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">ຍົກເລີກ</button>
                              <button type="submit" class="btn btn-danger">ລືບ</button>
                            </div>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                    <!-- End Delete Confirmation -->

                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock content %}

{% block script %}
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'dashboard/assets/plugins/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'dashboard/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dashboard/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dashboard/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'dashboard/js/custom.js' %}"></script>
{% endblock script %}