{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<style>
  * {
    font-family: "NotoSansLao";
  }
</style>

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="page-title mb-0 p-0">Profile</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Profile
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- Row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
      <div class="card">
        <div class="card-body profile-card">
          <center class="mt-4">
            <img
              src="{% if receptionist.profile_image %}{{ receptionist.profile_image.url }}{% else %}{% static 'default_profiles/default.jpg' %}{% endif %}"
              class="rounded-circle"
              width="150"
            />
            <h4 class="card-title mt-2">{{ user.username }}</h4>
            {% if request.user.is_superuser %}
            <h6 class="card-subtitle">Admin Manager of Roungnakhone Hotel</h6>
            {% else %}
            <h6 class="card-subtitle">Receptionist Manager of Roungnakhone Hotel</h6>
            {% endif %}
            <div class="row justify-content-center">
              <div class="col-4">
                <a href="javascript:void(0)" class="link">
                  <i class="icon-people" aria-hidden="true"></i>
                  <span class="font-normal">#</span>
                </a>
              </div>
              <div class="col-4">
                <a href="javascript:void(0)" class="link">
                  <i class="icon-picture" aria-hidden="true"></i>
                  <span class="font-normal">#</span>
                </a>
              </div>
            </div>
          </center>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal form-material mx-2" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label class="col-md-12 mb-0">ຊື່ຜູ້ໃຊ້</label>
              <div class="col-md-12">
                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  value="{{ receptionist.user.username }}"
                  class="form-control ps-0 form-control-line"
                  readonly
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 mb-0">ຊື່</label>
              <div class="col-md-12">
                <input
                  type="text"
                  name="first_name"
                  placeholder="First Name"
                  value="{{ receptionist.first_name }}"
                  class="form-control ps-0 form-control-line"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 mb-0">ນາມສະກຸນ</label>
              <div class="col-md-12">
                <input
                  type="text"
                  name="last_name"
                  placeholder="Last Name"
                  value="{{ receptionist.last_name }}"
                  class="form-control ps-0 form-control-line"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-md-12">ອີເມວ</label>
              <div class="col-md-12">
                <input
                  type="email"
                  placeholder="abc@admin.com"
                  id="email"
                  name="email"
                  value="{{ receptionist.email }}"
                  class="form-control ps-0 form-control-line"
                />
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="col-md-12 mb-0">Password</label>
              <div class="col-md-12">
                <input
                  type="password"
                  value="password"
                  class="form-control ps-0 form-control-line"
                />
              </div>
            </div> -->
            <div class="form-group">
              <label class="col-md-12 mb-0">ເບີໂທ</label>
              <div class="col-md-12">
                <input
                  type="text"
                  name="phone"
                  placeholder="020 xxxx xxxx"
                  value="{{ receptionist.phone }}"
                  class="form-control ps-0 form-control-line"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="mb-3">
                <label for="formFiles" class="form-label">ຮູບໂປຣໄຟຣ</label><br>
                <input class="form-control" type="file" id="formFile" name="profile_image" accept=".png, .jpg, .jpeg">
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="col-md-12 mb-0">Message</label>
              <div class="col-md-12">
                <textarea
                  rows="5"
                  class="form-control ps-0 form-control-line"
                ></textarea>
              </div>
            </div> -->
            <!-- <div class="form-group">
              <label class="col-sm-12">Select Country</label>
              <div class="col-sm-12 border-bottom">
                <select
                  class="form-select shadow-none border-0 ps-0 form-control-line"
                >
                  <option>London</option>
                  <option>India</option>
                  <option>Usa</option>
                  <option>Canada</option>
                  <option>Thailand</option>
                </select>
              </div>
            </div> -->
            <div class="form-group">
              <div class="col-sm-12 d-flex">
                <button
                  class="btn btn-success mx-auto mx-md-0 text-white"
                  type="submit"
                >
                  ບັນທືກ
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- Row -->
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock content %}

{% block script %}
<script src="{% static 'dashboard/assets/plugins/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'dashboard/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dashboard/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dashboard/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'dashboard/js/custom.js' %}"></script>
{% endblock script %}
