{% extends 'roungnakhone_hotel/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
      <div
        class="overlay bg-parallax"
        data-stellar-ratio="0.8"
        data-stellar-vertical-offset="0"
        data-background=""
      ></div>
      <div class="container">
        <div class="page-cover text-center">
          <h2 class="page-cover-tittle">{% trans "Contact" %}</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Contact Us</li>
          </ol>
        </div>
      </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
      <div class="container">
        <div
          id="mapBox"
          class="mapBox"
          data-lat="18.926706355414783"
          data-lon="102.44709418044413"
          data-zoom="13"
          data-info="13 north, Vang Vieng 01000"
          data-mlat="18.926706355414783"
          data-mlon="102.44709418044413"
        ></div>
        <div class="row">
          <div class="col-md-3">
            <div class="contact_info">
              <div class="info_item">
                <i class="lnr lnr-home"></i>
                <h6>Vangvieng, Laos</h6>
                <p>Ban Vangvieng</p>
              </div>
              <div class="info_item">
                <i class="lnr lnr-phone-handset"></i>
                <h6><a href="#">+856 20 5555 6666</a></h6>
                <p>Mon to Fri 9am to 6 pm</p>
              </div>
              <div class="info_item">
                <i class="lnr lnr-envelope"></i>
                <h6><a href="#">support@roungnakhonehotel.com</a></h6>
                <p>Send us your query anytime!</p>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <form
              class="row contact_form"
              action="contact_process.php"
              method="post"
              id="contactForm"
              novalidate="novalidate"
            >
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email address"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    name="subject"
                    placeholder="Enter Subject"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    id="message"
                    rows="1"
                    placeholder="Enter Message"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button
                  type="submit"
                  value="submit"
                  class="btn theme_btn button_hover"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--================Contact Area =================-->

    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <i class="fa fa-close"></i>
            </button>
            <h2>Thank you</h2>
            <p>Your message is successfully sent...</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <i class="fa fa-close"></i>
            </button>
            <h2>Sorry !</h2>
            <p>Something went wrong</p>
          </div>
        </div>
      </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->
{% endblock content %}
{% block script %}
<script src="{% static 'roungnakhone_hotel/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/popper.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/bootstrap.min.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/mail-script.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/vendors/nice-select/js/jquery.nice-select.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/mail-script.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/stellar.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/vendors/lightbox/simpleLightbox.min.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/custom.js' %}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'roungnakhone_hotel/js/gmaps.min.js' %}"></script>
<!-- contact js -->
<script src="{% static 'roungnakhone_hotel/js/jquery.form.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/contact.js' %}"></script>
<script src="{% static 'roungnakhone_hotel/js/custom.js' %}"></script>
{% endblock script %}
<!-- <script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/stellar.js"></script>
<script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="vendors/isotope/isotope-min.js"></script>
<script src="js/stellar.js"></script>
<script src="vendors/lightbox/simpleLightbox.min.js"></script> -->
